/**
 * DropDown Menu
 * 
 * @memberof    jquery.dropdown-menu
 *
 * @link        https://github.com/alonsorgr/drop-down-menu
 * @file        This file defines the functionality of the JQuery plugin to create dynamic drop-down menus.
 * @author      alonsorgr
 * @since       1.0.0
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: #607D8B;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #d1e0e0;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #d1e0e0;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

header {
    background-color: #222D32;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#sub-container {
    background-color: rgb(18, 135, 189);
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.header {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: #d1e0e0;
    padding-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.title:hover {
    color: #607D8B;
}

.item-container {
    width: 200px;
    height: 35px;
    border: 1px solid #f0f5f5;
}

.item:link {
    display: inline-block;
    width: 100%;
    padding: 12px 12px;
    background-color: #f9f9f9;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color:  #0a0f0f;
}
.item-container {
    width: 200px;
    height: 35px;
    border: 1px solid #f0f5f5;
}

.item:link {
    display: inline-block;
    width: 100%;
    padding: 12px 12px;
    background-color: #f9f9f9;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color:  #0a0f0f;
}

.item:visited {
    color: #0a0f0f;
}

.item:hover {
    background-color: #d1e0e0;
}

.item:active {
    background-color: #607D8B;
}

.item:visited {
    color: #0a0f0f;
}

.item:hover {
    background-color: #d1e0e0;
}

.item:active {
    background-color: #607D8B;
}

.section {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.sub-section {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: -52px;
    left: 184px;
}